@font-face {
    font-family: 'Arquitecta';
    src: url('ArquitectaHeavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arquitecta';
    src: url('Arquitecta.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arquitecta';
    src: url('ArquitectaLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arquitecta Book';
    src: url('ArquitectaBook.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arquitecta';
    src: url('ArquitectaBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arquitecta';
    src: url('ArquitectaMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arquitecta';
    src: url('ArquitectaBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arquitecta';
    src: url('ArquitectaThin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

